# Database Configuration
POSTGRES_USER=mlflow_user
POSTGRES_PASSWORD=mlflow_password
POSTGRES_DB=mlflow_db
POSTGRES_PORT=5432

# MLflow Configuration
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MODEL_NAME=telco-churn-champion
MODEL_ALIAS=production
